<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3851146476-huqcs4f1int6kfjcsmhm7tch61v8pnfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3851146476-huqcs4f1int6kfjcsmhm7tch61v8pnfn</string>
	<key>API_KEY</key>
	<string>AIzaSyDR0hZErv8t2yl9XdTi17GtURxCPze-xhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>3851146476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bfmpApp</string>
	<key>PROJECT_ID</key>
	<string>bfmp-da30b</string>
	<key>STORAGE_BUCKET</key>
	<string>bfmp-da30b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3851146476:ios:4fd08c102a00c80998c1c9</string>
</dict>
</plist>